.container{
    font-family: 'source-regular';
}

.header-topo{
    padding-top:120px;
    padding-bottom: 310px;
    background-image: url('/assets/img/landpage_01.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.doula{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    position: relative;
    height: 100px;
    width: 300px;
    top: 20px;
    padding-bottom: 130px;
}

.doula h1{
    font-family: 'america-regular';
    font-size: 100px;
}

.doula h4{
    font-size: 30px;
    height: 100px;
    width: 300px;
    top: 50px;
}

.link-app{
    display: block;
    position: relative;
    padding-left: 50px;
    padding-top: 250px;
    top: 250px;
}

.figure-app{
    width: 200px;
    height: 50px;
}

.main-1{
    padding-bottom: 185px;
    background-image: url('/assets/img/landpage_02.jpg');
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.cadastro-email{
    display: flex;
}

.main-2{
    padding-top:50px;
    padding-bottom: 10px;
    background-color: #f2bbad;
}
.figure-image{
    width: 100px;
    height: 100px;
}
.main-2 h3 {
    font-size: 1.75rem;
    color: #ffffff 
     }
  
.main-2 h5 {
    font-size: 1.5rem;
    color: #ffffff }
  
.main-2 p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #ffffff;
}

.main-3{
    padding-top:380px;
    padding-bottom: 0px;
    background-image: url('/assets/img/landpage_03.jpg');
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
}

.main-3 h5{
    font-size: 30px;
    color: #6bc7d2;
}

.main-3 ul{
    list-style: none;
    font-size: 17px;
}

.main-3 ul li{
    padding-left: 1em; 
    text-indent: -.7em;
}

.main-3 ul li::before{
    content: "• ";
    color:#6bc7d2;
    font-size: 30px;
}

.footer{
    padding-bottom: 50px;
}


@font-face {
    font-family: 'source-regular';
    src: url('/arquivos/Fontes/source/SourceSansPro-Regular.ttf')
}

@font-face {
    font-family: 'america-regular';
    src: url('/arquivos/Fontes/america/America/America-Regular.otf')
}